<div class="container">
  <div class="admin-wrapper">
    <h2 class="admin-header"><%= t("admin.header") %></h2>
    <div class="form-row">
      <div class="form-input">
        <%= link_to t("admin.buttons.new_event"), new_event_path, class: "button" %>
      </div>
      <div class="form-input">
        <%= link_to t("admin.buttons.new_officer"), new_officer_path, class: "button" %>
      </div>
    </div>
  </div>
</div>
