.button {
  background-color: $action-color;
  border-bottom: 3px solid $text-color;
  border-radius: 3px;
  color: $nuacm-blue;
  padding: 8px 20px;
  font-family: $base-font-family;

  &:hover {
    background-color: $action-color-hover;
    color: $white;
  }

  &.light {
    border-color: $nuacm-blue;

    &:hover {
      background-color: $light-action-color-hover;
      color: $action-color-hover;
    }
  }
}

// Bootstrap overrides
a {
  text-decoration: none !important;

  &:focus {
    color: $text-color !important;
  }
}
