<section id="footer">
	<div class="container">
    <div class="footer-content">
  		<div class="footer-info">
        <p> Interested in giving a talk, or partnering with NuACM? Drop us a line at <a href='mail&#116;o&#58;&#37;61&#99;m&#64;cc&#115;&#46;&#110;&#37;&#54;&#53;u&#46;e&#100;u'>&#97;cm&#64;c&#99;s&#46;neu&#46;edu</a></p>
        <p> We're open source on <a href="https://github.com/nuacm/Website-Master">Github</a>!</p>
  			<p>&copy; NUACM 2018</p>
  		</div>
      <div class="footer-action">
        <ul class="horizontal-list">
          <li>
            <%= link_to facebook_page_link, class: "button light social-media-button" do %>
              <%= icon("facebook-official") %>
            <% end %>
          </li>
          <li>
            <%= link_to email_redirect, class: "button light social-media-button" do %>
              <%= icon("envelope") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
	</div>
</section>
