<div class="container content">
    <div class="row header">
        <div class='col-xl-1 col-md-1'></div>
        <div class='col-xl-10 col-md-10 col-sm-12 col-xs-12'>
            <%= image_tag "logo.png", alt: "NUACM Logo", class: "logo", size: "250x80" %>
                <div class='navbar'>
                    <ul class='button horizontal-list'>
                        <li>
                            <a href="https://www.facebook.com/nuacm">
                                <%= icon('facebook-official') %>
                            </a>
                        </li>
                        <li>
                            <a href="mail&#116;o&#58;&#37;61&#99;m&#64;cc&#115;&#46;&#110;&#37;&#54;&#53;u&#46;e&#100;u">
                                <%= icon('envelope')%>
                            </a>
                        </li>
                    </ul>
                    <ul class='button horizontal-list'>
                        <li><a href='#'> Events </a></li>
                        <li><a href='#'>  Speak </a></li>
                        <li><a href='#'> Officers </a></li>
                        <li><a href='#'> Organization Portal </a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
