<div class="container">
	<div class="page-heading">
		<h2><%= t("events.headlines.upcoming_events") %></h2>
	</div>
	<div class="event-listing">
		<% @events.each do |event| %>
			<%= render partial: "event_listing", locals: {event: event} %>
		<% end %>
	</div>
</div>
