$login-panel-width: 450px;

.new-session-wrapper {
  @include flex-column();
  @include padding(20px);
  @include box-section();
  margin: auto;
  width: $login-panel-width;

  @include media-down($medium-screen) {
    width: 95%;
  }
}
