// Primary Mixin
@mixin buttons {
	button, .button a {
		@include button($light-gray, $secondary-color);
	}
}

@mixin button($bg-color, $text-color) {
	font: 20px;
	font-family: $default-font-family;
	color: $text-color;
	@include colored-button($bg-color, $text-color);
	&:hover { 
		@include colored-button($medium-gray, lighten($text-color, 10%));
	}
	&:active {
		@include colored-button(darken($bg-color, 10%), $text-color);
	}
}

@mixin colored-button($bg-color, $text-color) {
	border-bottom: 3px solid $text-color;
	border-radius: 3px;
	background-color: $bg-color;
	padding: 8px 20px 8px 20px;
}
