$primary-color: #FFFAFA !default;
$background-color: #ffffff !default;
$secondary-color: #3db4cb !default;


$green: #25bc6d;
$white: #fff;
$yellow: #ffb316;
$blue: #2385af;
$light-blue: #6bbde0;
$dark-navy: #114054;
$light-gray: #f3f6f8;
$medium-gray: #4c5454;
$dark-gray: #1f2323;


