@import "modules/base";
@include buttons();
@include typography();

.navbar {
    padding: 20px 0px 20px 0px;
    background-color: $white;
    @include shadows(50);

    .navbuttons {
        float: right;
        margin-top: 15px;
        ul {
            padding: 10px 0px 10px 0px;
            text-align: right;
        }
    }
    .logo {
        margin-top: 15px;
    }
}

