@import "modules/base";

@include buttons();
@include typography();

.header {
	margin: 20px 0px 20px 0px;
	.navbar {
		margin-top: 30px;
		float: right;

		ul {
			padding: 10px 0px 10px 0px;
			text-align: right;
		}
	}
}