/*
Partial for Index.html
*/

@import "modules/base";
@include buttons();
@include typography();
h3 {
    margin-top: 40px;
}

.main {
	margin-top: 135px;
	padding: 60px 20px 60px 20px;
	background-color: $background-color;
}