.navbar {
  @include margin(0);
  padding: 20px 0px;
  background-color: $white;
  box-shadow: $base-box-shadow;

  .navbar-content {
    width: 90%;
    margin: auto;

    @include media-down($medium-screen) {
      width: 100%;
    }
  }

  .logo {
    margin-top: 15px;
  }

  .navbuttons {
    float: right;
    margin-top: 15px;

    ul {
      padding: 10px 0px;
      text-align: right;
    }
  }
}
