.officers {
	display: flex;
	margin: 200px 0px 100px 0px;
	position: relative;

	.officer-bio {
    @include margin(10px);
    @include padding(10px);
    @include flex-column();
    background-color: $light-gray;
    border: $base-border;
    border-radius: $base-border-radius;
		flex: 0 1 calc(25% - 40px);
    max-width: 25%;
	}

  .officer-image {
    @include size(100px, 100px);
    align-self: center;
    border: $base-border;
    border-radius: 51%;
  }

  .col-line-items {
    @include padding(20px);
  }
}
