.officers {
	display: flex;
	margin: 200px 0px 100px 0px;
	position: relative;

	.officer-bio {
    @include margin(10px);
    @include padding(10px);
    background-color: $light-gray;
    border: $base-border;
    border-radius: $base-border-radius;
		flex: 0 1 calc(33% - 40px);
	}

  .officer-line-item {
    @include margin(10px null);
  }

  .officer-line-item-label {
    font-size: 12px;
    color: $medium-gray;
  }

  .officer-line-item-info {

  }
}
